<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Control Panel for Habashy</title>
        <!-- Custom fonts for this template-->
        <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            {% with is_admin=is_admin %}
                {% include 'sidebar.html' %}
            {% endwith %}
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Scroll to Top Button-->
                        <a class="scroll-to-top rounded" href="#page-top" style="position: fixed;">
                            <i class="fas fa-angle-up"></i>
                        </a>
                        <!-- Content Wrapper -->
                        <div id="content-wrapper" class="d-flex flex-column">
                            <!-- Main Content -->
                            <div id="content">
                                {% with username=username %}
                                    {% include 'navbar.html' %}
                                {% endwith %}
                                <!-- Begin Page Content -->
                                <div class="container-fluid">
                                    <div class="card shadow">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                <i class="fas fa-images"></i> Image Sliders
                                            </h6>
                                            <a class="btn btn-outline-success" href="#" role="button">
                                                New Image <i class="far fa-plus-square"></i>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <hr class="sidebar-divider my-0">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Slider</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in all_slider_images %}
                                                        <tr>
                                                            <th scope="row">{{ i[0] }}</th>
                                                            <td>{{ i[2] }}</td>
                                                            <td>{{ i[3] }}</td>
                                                            <td>{{ i[4] }}</td>
                                                            <td>
                                                                <a class="btn btn-primary" data-toggle="collapse" href="#">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <a class="btn-warning btn" data-target="#ViewModal" data-toggle="modal" data-target="#logoutModal" link="{{ i[1] }}">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                                <a class="btn-danger btn" href="/home/manage/{{ i[0] }}/delete">
                                                                    <i class="fas fa-user-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <br>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <!------------------------------------------------neon cards-------------------------------------------------->
                                    <div class="card shadow">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-id-card-alt"></i> Services cards</h6>
                                        </div>
                                        <div class="card-body">
                                            <hr class="sidebar-divider my-0">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Link</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in all_service_cards %}
                                                        <tr>
                                                            <th scope="row">{{ i[0] }}</th>
                                                            <td>{{ i[2] }}</td>
                                                            <td>{{ i[3] }}</td>
                                                            <td>{{ i[4] }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseCards" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    Edit Panel
                                                </a>
                                            </div>
                                            <br>
                                            <div class="collapse" id="collapseCards">
                                                <div class="card card-body">
                                                    <form method="POST" action="/home/manage" enctype="multipart/form-data">
                                                        <input type="hidden" name="request_for" value="service_cards" />
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">
                                                                        Image src : <h6>the size must be 60*60</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <div class="custom-file">
                                                                            <input type="file" name="img" class="custom-file-input" id="customFile">
                                                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <select id="service_card_id" class="form-control" name="selected_item">
                                                                    <option value="1" selected>1st Image Selected</option>
                                                                    <option value="2">2nd Image Selected</option>
                                                                    <option value="3">3rd Image Selected</option>
                                                                    <option value="4">4th Image Selected</option>
                                                                    <option value="5">5th Image Selected</option>
                                                                    <option value="6">6th Image Selected</option>
                                                                </select>
                                                                <tr>
                                                                    <th scope="col">Service Title : <h6>less than 15 characters.</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <input id="service_card_title" class="form-control mr-sm-2" type="text" name="title" placeholder="Enter the title" aria-label="Titel" required />
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="col">
                                                                        Service Desc : <h6>less than 100 characters.</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <textarea id="service_card_description" class="form-control" name="description" id="validationTextarea" placeholder="Required example textarea" required>
                                                                        </textarea>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="col">
                                                                        Service Page Link : <h6>page to go on click.</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <input id="service_card_link" aria-multiline="true" name="link" class="form-control " type="text" placeholder="Enter the title" aria-label="Titel">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="text-center">
                                                            <input type="submit" class="btn btn-success" value="Save Changes" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <!------------------------------------our customers-------------------------------------------------------->
                                    <div class="card shadow">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user-tie"></i> Our customers</h6>
                                        </div>
                                        <div class="card-body">
                                            <hr class="sidebar-divider my-0">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Title</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">7</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">8</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">9</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">10</th>
                                                        <td>Descript Image</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <a class="btn btn-primary" data-toggle="collapse" href="#collapsecustomers" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    Edit Panel
                                                </a>
                                            </div>
                                            <br>
                                            <div class="collapse" id="collapsecustomers">
                                                <div class="card card-body">
                                                    <form method="POST" action="/home/manage">
                                                        <input type="hidden" name="request_for" value="our_customers" />
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">
                                                                        Image src : <h6>the size must be 60*60</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <div class="custom-file">
                                                                            <input type="file" class="custom-file-input" id="customFile">
                                                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <select id="inputState" class="form-control">
                                                                    <option selected>1st Image Selected</option>
                                                                    <option>2nd Image Selected</option>
                                                                    <option>3rd Image Selected</option>
                                                                    <option>4th Image Selected</option>
                                                                    <option>5th Image Selected</option>
                                                                    <option>6th Image Selected</option>
                                                                    <option>7th Image Selected</option>
                                                                    <option>8th Image Selected</option>
                                                                    <option>9th Image Selected</option>
                                                                    <option>10th Image Selected</option>
                                                                </select>
                                                                <tr>
                                                                    <th scope="col">
                                                                        Service Title : <h6>less than 15 characters.</h6>
                                                                    </th>
                                                                    <th scope="col">
                                                                        <input class="form-control mr-sm-2" type="text" placeholder="Enter the title" aria-label="Titel">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="text-center">
                                                            <input type="submit" class="btn btn-success" value="Save Changes" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------------------>
                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- End of Main Content -->
                            <!----------alert cards-->
                            <br>
                            {% if done == 'True' %}
                                <div class="alert alert-success" style="margin-top: 15px;" role="alert">
                                    {{ success_msg }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            {% if err == 'True' %}
                                <div class="alert alert-danger" style="margin-top: 15px;" role="alert">
                                    {{ err_msg }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <!-- Footer -->
                            <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>Copyright &copy; Your Website 2019</span>
                                    </div>
                                </div>
                            </footer>
                            <!-- End of Footer -->
                        </div>
                        <!----------------------ExitModal---------------------------->
                        <div class="modal fade" id="ExitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave ?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-primary" href="/logout">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------privewe------------------------------------->
                        <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Image Preview</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="" id="preview-image" width="250" height="180">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Bootstrap core JavaScript-->
                        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
                        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                        <!-- Core plugin JavaScript-->
                        <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
                        <!-- Custom scripts for all pages-->
                        <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
                        <!-- Page level plugins -->
                        <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
                        <!-- Page level custom scripts -->
                        <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
                        <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
                        <script>
                            $('.btn-warning').click((event) => {
                                const btn = event.currentTarget;
                                const url = btn.attributes.link.nodeValue;
                                $('#preview-image').attr('src', "{{ url_for('static', filename='') }}" + url);
                            });
                        </script>
                        <script>
                            const all_service_cards = {{ all_service_cards_as_json | safe }};
                            const service_card_id_select_box = document.getElementById('service_card_id');
                            const service_card_title = document.getElementById('service_card_title');
                            const service_card_description = document.getElementById('service_card_description');
                            const service_card_link = document.getElementById('service_card_link');
                            // setting the values for the first time
                            service_card_title.value = all_service_cards[0][2];
                            service_card_description.value = all_service_cards[0][3];
                            service_card_link.value = all_service_cards[0][4];
                            // on value change function
                            service_card_id_select_box.addEventListener('change', () => {
                                const i = parseInt(service_card_id_select_box.value) - 1;
                                service_card_title.value = all_service_cards[i][2];
                                service_card_description.value = all_service_cards[i][3];
                                service_card_link.value = all_service_cards[i][4];
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
