<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>Control Panel for Habashy</title>
      
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
      
      </head>
<body>
    
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">
      
          <!-- Sidebar -->
          <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
              
              <div class="sidebar-brand-text mx-3">HABASHY </div>
            </a>
      
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
      
            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
              <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Users</span></a>
            </li>
           
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
              </a>
              <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Main Screens</h6>
                  <a class="collapse-item active" href="">Home</a>
                  <a class="collapse-item" href="">About Us</a>
                  <a class="collapse-item" href="">Last Work</a>
                  <a class="collapse-item" href="">Call Us</a>
                  <div class="collapse-divider"></div>
                  <h6 class="collapse-header">Services Pages :</h6>
                  <a class="collapse-item" href="">Web development</a>
                  <a class="collapse-item" href="">Photography</a>
                </div>
              </div>
            </li>
      
            <!-- Nav Item - Charts -->
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Information</span></a>
            </li>
      
            <!-- Nav Item - Tables -->
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-fw fa-table"></i>
                <span>Messages</span></a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
      
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
      
          </ul>
          <!-- End of Sidebar -->
      
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
      
            <!-- Main Content -->
            <div id="content">
      
              <!-- Begin Page Content -->
              <div class="container-fluid">

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
        <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
  
            
  
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
  
              
            </ul>
  
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div class="card shadow">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Image Slider</h6>
            </div>
            <div class="card-body">

            
            
            

            <hr class="sidebar-divider my-0">

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Descript Image</td>
                    <td>this text is just test</td>
                    <td>Page link</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Descript Image</td>
                    <td>this text is just test</td>
                    <td>Page link</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Descript Image</td>
                    <td>this text is just test</td>
                    <td>Page link</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Descript Image</td>
                    <td>this text is just test</td>
                    <td>Page link</td>
                    
                  </tr>
                  
                </tbody>
                
              </table>
              <div class="text-center"><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Edit Panel
              </a></div>
              <br>
              <div class="collapse" id="collapseExample">
                
                <div class="card card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Image src :</th>
                            
                            <th scope="col"><div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div></th>
                          </tr>
                        </thead>
                        <tbody>
                            <select id="inputState" class="form-control">
                                <option selected>1st Image Selected</option>
                                <option>2nd Image Selected</option>
                                <option>3rd Image Selected</option>
                                <option>Fourth Image Selected</option>
                              </select>
                          <tr>
                            <th scope="col">Image Title : </th>
                            <th scope="col"><input class="form-control mr-sm-2" type="text" placeholder="Enter the title" aria-label="Titel"></th>
                          </tr>
                          <tr>
                            <th scope="col">Image Desc : </th>
                            <th scope="col"><textarea class="form-control " id="validationTextarea" placeholder="Required example textarea" required></textarea></th>
                          </tr>
                          <tr>
                            <th scope="col">Learn More Link : </th>
                            <th scope="col"><input aria-multiline="true" class="form-control " type="text" placeholder="Enter the title" aria-label="Titel"></th>
                         
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center"><button type="button" class="btn btn-success" type="submit">Save Changes</button></div>
                      
                </div>
              </div>
            </div>
            
          </div>
          <br>
          <div class="alert alert-success" role="alert">
            your changes was successful saved <a href="../index.html" class="alert-link">click here to see changes</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-danger" role="alert">
            your changes was successful saved <a href="#" class="alert-link">click here to know the reason</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              
              
              
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
  
      </div>
      
        
      
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
      
        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>
      
        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
      
      </body>
      
      </html>
      


</body>
</html>